langchain
wikipedia
langchain-community
langchain-openai
langchain-anthropic
langchain-huggingface
langchain-experimental
langchain-tavily
python-dotenv
pydantic
duckduckgo-search
pypdf
tiktoken
langgraph
langgraph-supervisor
grandalf
pandas
numpy
scikit-learn
tabulate
missingpy
pyppeteer

matplotlib
seaborn

